<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>RSE Matutino</title>

</head>

<body style="background:SkyBlue;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home:home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'sintactico' %}">Sintactico <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about:about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block contenido %}

    <h1>
        <CENTER>Cancer de prostata</CENTER>
    </h1>

    <div class="container">
        <p style="text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;">
            El cáncer de próstata es el cáncer que se forma en la próstata. En los hombres, la próstata es una glándula pequeña con forma de nuez, que produce el líquido seminal que nutre y transporta el esperma.
        </p>

        <p style="text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;">
            El cáncer de próstata es uno de los tipos más comunes de cáncer. Muchos cánceres de próstata crecen lentamente y permanecen limitados a la glándula prostática, en donde pueden no causar daño grave. Pero, si bien algunos tipos de cáncer de próstata crecen
            lentamente y pueden necesitar un tratamiento mínimo o no necesitar ningún tratamiento, otros tipos son agresivos y se pueden diseminar con rapidez.
        </p>
        <p style="text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;">
            El cáncer de próstata que se detecta en forma temprana, cuando todavía está limitado a la glándula prostática, tiene mejores probabilidades de tener un tratamiento exitoso.
        </p>
    </div>

    <div class="container">
        <br>
        <h2>Síntomas</h2>
        <Pre>
            <Font Face="Arial" size="4">
            El cáncer de próstata puede no provocar signos ni síntomas en sus primeros estadios.
            El cáncer de próstata que está más avanzado puede causar signos y síntomas como:
                <li>Problemas para orinar
                <li>Disminución en la fuerza del flujo de la orina
                <li>Sangre en la orina
                <li>Sangre en el semen
                <li>Dolor de huesos
                <li>Pérdida de peso sin intentarlo
                <li>Disfunción eréctil
            </Font>
        
        </Pre>
    </div>
    <center>

        <h2 align="center">Muestras</h2>
        <table class="table table-borderless table-dark" style="overflow:scroll;
        height:700px;
        width:380px;">

            <thead>
                <tr>
                    <th scope="col">Clave</th>
                    <th scope="col">Temperatura</th>
                    <th scope="col">Color</th>
                    <th scope="col">Inflamacion</th>
                </tr>
            </thead>
            <tbody>
                {% for elemento in lista %}

                <tr>
                    <th scope="row">{{elemento.pk}}</th>
                    <td>{{elemento.temperatura}}</td>
                    <td>{{elemento.color}}</td>
                    <td>{{elemento.inflamacion}}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </center>

    <br>

    <h2 align="center">Matriz de Distancias</h2>

    <div class="container" style="overflow:scroll;
    height:700px;
    width:1200px;
    margin-left: auto;
    margin-right: auto;">

        <table style="border: 1px solid black; 
        width:500px; 
        background-color:lightgray;">
            <tbody>
                {% for valor in matrizDat %}
                <tr>

                    {% for dato in valor%}
                    <td align="center">{{dato}}</td>
                    {% endfor %}

                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    {% endblock contenido %}

    <br>
    <hr>

</body>

</html>