{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" href='{% static "css/index.css" %}' rel="stylesheet">
    <title>RSE Matutino</title>

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navegacion">
            <a class="navbar-brand" href="{% url 'home:home' %}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sintactico' %}">Informacion<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about:about' %}">Grafo</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    {% block contenido %}
    <div class="container">
        <div id="infHome">
            <br>
            <h1>Cancer de prostata</h1>
            <p>
                El cáncer de próstata es el cáncer que se forma en la próstata. En los hombres, la próstata es una
                glándula pequeña con forma de nuez, que produce el líquido seminal que nutre y transporta el esperma.
            </p>
            <p>
                El cáncer de próstata es uno de los tipos más comunes de cáncer. Muchos cánceres de próstata crecen
                lentamente y permanecen limitados a la glándula prostática, en donde pueden no causar daño grave.
                Pero, si bien algunos tipos de cáncer de próstata crecen lentamente y pueden necesitar un tratamiento
                mínimo o no necesitar ningún tratamiento, otros tipos son agresivos y se pueden diseminar con rapidez.
            </p>
            <p>
                El cáncer de próstata que se detecta en forma temprana, cuando todavía está limitado a la glándula
                prostática,
                tiene mejores probabilidades de tener un tratamiento exitoso.
            </p>
            <div class="row">
                <div class="col-sm-7">
                    <h2>Síntomas</h2>

                    <p>El cáncer de próstata puede no provocar signos ni síntomas en sus primeros estudios.</p>
                    <p>El cáncer de próstata que está más avanzado puede causar signos y síntomas como:</p>

                    <li>Problemas para orinar
                    <li>Disminución en la fuerza del flujo de la orina
                    <li>Sangre en la orina
                    <li>Sangre en el semen
                    <li>Dolor de huesos
                    <li>Pérdida de peso sin intentarlo
                    <li>Disfunción eréctil
                </div>
                <div class="col-sm-5 d-flex justify-content-center align-items-center">
                    <img class="img-thumbnail mx-auto d-block"
                        src="https://biotechmagazineandnews.com/wp-content/uploads/2021/04/cancer-prostata.jpg"
                        alt="cancer-prostata-tumores">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                <h2 align="center">Muestras</h2>
                <p>Se agrega una tabla de muestras sobre una base de datos del cancer de prostata, junto a una matriz de
                    distancias generadas entre cada registro</p>
                <div class="container d-flex justify-content-center align-items-center" id="tablaMuestras">
                    <div class="tablealing">
                        <table class="p-0 table table-borderless table-dark">

                            <thead>
                                <tr>
                                    <th scope="col">Clave</th>
                                    <th scope="col">Temperatura</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">Inflamacion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for elemento in lista %}

                                <tr>
                                    <th scope="row">{{elemento.pk}}</th>
                                    <td>{{elemento.temperatura}}</td>
                                    <td>{{elemento.color}}</td>
                                    <td>{{elemento.inflamacion}}</td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-7">
                <h2 align="center">Matriz de Distancias</h2>
                <div class="container d-flex justify-content-center align-items-center" id="matriz">
                    <div class="matrizaling">
                        <table class="table table-borderless table-dark">
                            <tbody>
                                {% for valor in matrizDat %}
                                <tr>

                                    {% for dato in valor%}
                                    <td align="center">{{dato}}</td>
                                    {% endfor %}

                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock contenido %}

    <hr>
    <div class="container" id="piePagina">
        <div class="row">
            <div class="col-sm-8">
                <p>Proyecto Reconocimiento de Patrones Sintactico Estructural</p>
                <p>Contacto</p>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="https://i.pinimg.com/originals/ce/c8/a6/cec8a6239de29acbfcfee0ccec995b9f.png"
                                        alt="boton-facebook"></i>
                                </div>
                                <p class="textAl">Facebook</p>
                            </div>
                            <div class="col-sm-2">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png"
                                        alt="boton-facebook"></i>
                                </div>
                                <p class="textAl">Instagram</p>
                            </div>
                            <div class="col-sm-2">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c53e.png"
                                        alt="boton-facebook"></i>
                                </div>
                                <p class="textAl">Twitter</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <p>Proyecto realizado por: </p>
                <p>Viridiana Jimenez Pineda</p>
                <p>Raúl Alejandro Luis Carvarin</p>
                <p>Grupo "M9"</p>
            </div>
        </div>
    </div>

</body>

</html>