{% extends 'home/index.html' %}

{% block contenido %}

<div class="container p-4">
    <div class="row">
        <div class="col-sm-7">
            <h2>Causas del Cancer de Prostata</h2>
            <p style="text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;">
                Las causas del cáncer de próstata no son claras.
            </p>
            <p style="text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;">
                Los médicos sabea que el cáncer de próstata comienza cuando las células en la próstata presentan cambios
                en el ADN.
                El ADN de la célula contiene las instrucciones que le dicen a la célula qué debe hacer. Los cambios
                instruyen a las
                células que crezcan y se dividan más rápidamente que las células normales. Las células anormales
                continúan viviendo
                cuando otras células morirían.
            </p>
            <p style="text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;">
                La acumulación de células anormales forma un tumor que puede crecer e invadir el tejido cercano.
                Con el tiempo, algunas células anormales pueden desprenderse y esparcirse (hacer metástasis)
                hacia otras partes del cuerpo.
            </p>
        </div>
        <div class="col-sm-5 d-flex justify-content-center align-items-center">
            <img class="p-4" aling="center" src="https://medlineplus.gov/spanish/ency/images/ency/fullsize/18038.jpg"
                alt="Cancer-Prostata">
        </div>
    </div>
    <div class="col-sm-10">
        <h2>Factores de riesgo</h2>
        <p style="text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;">
            Los factores que pueden aumentar el riesgo de cáncer de próstata son los siguientes:
            <li style="text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;">
                Edad avanzada. El riesgo de tener cáncer de próstata aumenta con la edad. Es más frecuente después de
                los 50
                años de edad.
            </li>
            <li style="text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;">
                Raza. Por razones que aún no se han determinado, los hombres afroamericanos tienen un mayor riesgo de
                cáncer
                de próstata que los de otras razas. En los afroamericanos, el cáncer de próstata también tiene más
                probabilidades de ser agresivo o avanzado.
            </li>
            <li style="text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;">
                Antecedentes familiares. Si se ha diagnosticado con cáncer de próstata a un familiar cercano, como un
                padre,
                hermano o hijo, quizás tu riesgo sea más alto. También, si tienes antecedentes familiares de genes que
                aumentan el riesgo para cáncer de mama (BRCA1 o BRCA2) o antecedentes familiares significativos de
                cáncer de
                mama, tu riesgo para cáncer de próstata quizás sea más alto.
            </li>
            <li style="text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;">
                Obesidad. Las personas obesas quizás estén a un riesgo más alto de padecer cáncer de próstata,
                comparadas
                con las que se considera están a un peso saludable, aunque los estudios han producido resultados mixtos.
                En
                las personas obesas, es más probable que el cáncer sea más agresivo o o que recurra después del
                tratamiento
                inicial.
            </li>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <h2>Complicaciones</h2>
            <p style="text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;">
                Las complicaciones del cáncer de próstata y sus tratamientos incluyen:
            </p>
            <li style="text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;">
                Cáncer que se disemina (metástasis). El cáncer de próstata puede extenderse a órganos cercanos, como la
                vejiga, o diseminarse por el torrente sanguíneo o el sistema linfático hasta los huesos u otros órganos.
                El cáncer de próstata que se extiende a los huesos puede provocar dolor y fracturas. Una vez que el
                cáncer de próstata se extendió a otras zonas del cuerpo, todavía puede responder al tratamiento y puede
                controlarse, pero no es probable que se cure.
            </li>
            <li style="text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;">
                Incontinencia. El cáncer de próstata y su tratamiento pueden causar incontinencia urinaria. El
                tratamiento para la incontinencia depende del tipo que tengas, la gravedad y la probabilidad de que
                mejore con el tiempo. Entre las opciones de tratamiento se encuentran los medicamentos, el sondaje y la
                cirugía.
            </li>
            <li style="text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;">
                Disfunción eréctil. La disfunción eréctil puede resultar del cáncer de próstata o su tratamiento, por
                ejemplo, la cirugía, la radiación o los tratamientos con hormonas. Hay medicamentos, dispositivos de
                vacío que ayudan a lograr la erección y cirugías para tratar la disfunción eréctil.
            </li>
        </div>
        <div class="col-sm-5 p-2 d-flex justify-content-center align-items-center">
            <img src="https://urologiadealtaespecialidad.com/wp-content/uploads/2020/10/C%C3%A1ncer-de-pr%C3%B3stata-en-Quer%C3%A9taro.png"
                alt="cancer-prostata-complicaciones" style="height: 350px;
                width: 500px;" class="img-thumbnail mx-auto d-block">
        </div>
    </div>

</div>

{% endblock contenido %}