{% extends 'home/index.html' %}
{% load static %}

{% block contenido %}
<div class="container" id="about">
    <div class="Boton">

        <br>
        <h1>Generar Grafo</h1>

        <p>Ingresa el umbral para generar el grafo correspondiente</p>

        <form class="form-inline d-flex justify-content-center" method="POST" action="{% url 'about:about' %}">
            {% csrf_token %}
            <label for="exampleFormControlText" class="col-sm-3 col-form-label">Ingresa el valor del umbral</label>
            <input type="text" class="form-control mr-2" name="valorUmbral" placeholder="">
            <button type="submit" class="btn btn-primary">Procesar</button>
        </form>

    </div>
    <br>
    <div>
        <div class="container d-flex justify-content-center align-items-center tablaGrafo">
            <div class="alineaGrafo">
                <table class="table table-borderless table-dark">
                    <thead>
                        <tr>
                            <th>Relacion</th>
                            <th>Resultado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for valorGraf in grafo %}
                        <tr>

                            {% for datoGraf in valorGraf%}
                            <td align="center">{{datoGraf}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}